---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/notepagestyle.css">
      
</head>

   <title>{{page.translator}} on translating {{page.author}}</title>

<body>
  <header>
    <a href="{{site.baseurl}}/index.html">
      <div class="logo">
        <img src="{{site.baseurl}}/assets/images/doublespeak_logo.png" alt="Click here to return to the homepage.">
      </div>
    </a>
    <div class="nav">
      <ul>
        <li><a href="{{site.baseurl}}/contentindex.html">index</a></li>
        <li><a href="{{site.baseurl}}/search.html">search</a></li>
        <li><a href="{{site.baseurl}}/about.html">about</a></li>
        <li><a href="{{site.baseurl}}/submit.html">submit</a></li>
        <li><a href="{{site.baseurl}}/issues.html">issues</a></li>
      </ul>
    </div>
  </header>
   <div class="tcontentslink">
    <p class="link"><a href="{{site.baseurl}}/toc{{page.edition}}.html"><  &nbsp; table of contents</a></p>
    <div class="poemtags">
      <ul>
        <li><a href="{{site.baseurl}}/language_tags/{{page.language | slugify: 'latin' | replace: '-','_'}}">{{page.language}}</a></li>
        {% if page.translator %}
        <li><a href="{{site.baseurl}}/translator_tags/{{page.translator | slugify: 'latin' | replace: '-','_'}}">{{page.translator}}</a></li>
        {% endif %}
        <li><a href="{{site.baseurl}}/author_tags/{{page.author | slugify: 'latin' | replace: '-','_'}}">{{page.author}}</a></li>
      </ul>
    </div>
  </div>
  <br>
  <div class="container">
      <div class="note">
        <h1>{{page.translator}}</h1> <br>
        <h2 class="note">on translating {{page.author}}</h2><br>
        <p class="note"> {{page.note}}</p>
      </div> 
    <div class="flex-container">
       <div class="note-text">
          <div class="abio">
            <h1 class="abio">about the author</h1>
            <p>{{page.abio}}</p>
          </div>
          <div class="tbio">
            <h1 class="abio">about the translator</h1>
            <p>{{page.tbio}}</p>
           </div>
         </div>
    </div>
    {% unless page.image == "none" or page.image == "none "%}
      <div>
        <img class="poem-image" src="{{site.baseurl}}{{page.image}}"></img>
        <p class="caption"> {{page.imagecredit}}
        </p>
      </div>
      {% endunless %}
  </div>

{% assign path = "poems_" | append: page.edition %}

{% for pg in site.data[path] %}

      {% if pg.pid == page.pid %}

          {% assign nextIndex = forloop.index | plus: 1 %}
          {% assign thisIndex = forloop.index %}
        {% endif %}
      {% assign endLength = forloop.length %}

{% endfor %}

{% for pg in site.data[path] %}

         {% if forloop.index == nextIndex %}
  
          {% assign nextPage = pg.pid %}

        {% endif %}




{% endfor %}
  <div class="previouslink">
    <p class="link"><a href="{{site.url}}{{site.baseurl}}/poems_{{page.edition}}/{{page.pid}}"><  &nbsp; previous</a></p>
  </div>
    <div class="nextlink">
    {% if thisIndex == endLength %}
      <p class="link"><a href="{{site.url}}{{site.baseurl}}/frontmatter/copyright{{page.edition}}">next &nbsp; ></a></p>
    {% else %}
      <p class="link"><a href="{{site.url}}{{site.baseurl}}/poems_{{page.edition}}/{{nextPage}}"> next &nbsp; ></a></p>
    {% endif %}
    </div>
</body>
<html>
